<!-- Validation failure messages -->
<% if @request.errors.any? %>
  <% @request.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Request #<%= @request.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_request/<%= @request.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for requester_id -->
      <div class="form-group">
        <label for="requester_id" class="control-label">
          Requester
        </label>

        <%= select_tag(:requester_id, options_from_collection_for_select(Requester.all, :id, :email, @request.requester_id), :class => "form-control") %>
      </div>

      <!-- Label and input for keyword_id -->
      <div class="form-group">
        <label for="keyword_id" class="control-label">
          Keyword
        </label>

        <%= select_tag(:keyword_id, options_from_collection_for_select(Keyword.all, :id, :created_at, @request.keyword_id), :class => "form-control") %>
      </div>

      <!-- Label and input for action_id -->
      <div class="form-group">
        <label for="action_id" class="control-label">
          Action
        </label>

        <%= select_tag(:action_id, options_from_collection_for_select(Action.all, :id, :created_at, @request.action_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Request
      </button>
      or
      <a href="/requests/<%= @request.id %>">Cancel</a>
    </form>
  </div>
</div>
