<div class="page-header">
  <h3>Keyword #<%= @keyword.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/keywords" class="btn btn-primary">
        Back
      </a>
      <a href="/keywords/<%= @keyword.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_keyword/<%= @keyword.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Keyword has many requests -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Requests
      </li>

      <% @keyword.requests.each do |request| %>
        <li class="list-group-item">
          <a href="/requests/<%= request.id %>">
            <%= request.requester_id %>
          </a>
          <a href="/requests/<%= request.id %>" class="btn btn-primary">
            Show
          </a>
          <a href="/requests/<%= request.id %>/edit" class="btn btn-warning">
            Edit
          </a>
          <a href="/delete_request/<%= request.id %>" class="btn btn-danger" rel="nofollow">
            Delete
          </a>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_request" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for requester_id -->
      <input type="hidden" name="requester_id" value="<%= current_user.id %>">

      <!-- Label and input for keyword_id -->
      <input type="hidden" name="keyword_id" value="<%= @keyword.id %>">

      <!-- Label and input for action_id -->
      <div class="form-group">
        <label for="action_id" class="control-label">
          Action
        </label>

        <%= select_tag(:action_id, options_from_collection_for_select(Action.all, :id, :created_at), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Request
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Keyword has many requesters -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Requesters
      </li>

      <% @keyword.requesters.each do |requester| %>
        <li class="list-group-item">
          <a href="/requesters/<%= requester.id %>">
            <%= requester.email %>
          </a>
          <a href="/requesters/<%= requester.id %>" class="btn btn-primary">
            Show
          </a>
          <a href="/requesters/<%= requester.id %>/edit" class="btn btn-warning">
            Edit
          </a>
          <a href="/delete_requester/<%= requester.id %>" class="btn btn-danger" rel="nofollow">
            Delete
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
